<nav class="navbar navbar-expand-lg navbar-dark p-3 navbar-div" style="background-color: #8d81ff;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "",style: "height: 40px; width: auto;" %>
    <% end %>
    <%# <a class="navbar-brand" href="#">Navbar</a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link mx-2 active", aria: { current: "page" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Expenses", expenses_path, class: "nav-link mx-2 active" %>
          <%# <a class="nav-link mx-2" href="#">Patients</a> %>
        </li>
        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link mx-2 active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item colour-text" %></a></li>
            <li><a class="dropdown-item" href="#">About Us</a></li>
            <li><a class="dropdown-item" href="#">Contact us</a></li>
          </ul>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
