<h1>Hi <%= current_user.username %>!</h1>

<div>
  <ul class="horizontal-list">

      <li class="table_title table_transaction"> Transaction</li>
      <li class="table_title table_amount"> Amount</li>
      <li class="table_title table_date"> Date</li>
      <li class="table_title"> Category</li>
  </ul>
</div>

<div class= "list">
    <ul data-controller="position">
      <% @expenses.each do |expense| %>
        <li class="category-item">
          <span class="category-name"><%= expense.title %></span>
          <span class="category-amount">£<%= expense.amount %></span>
          <span class="category-amount"><%= expense.date.strftime("%d/%m/%y - %R") %></span>
          <span class="category-amount"><%= expense.category.name %></span>
          <span class="category-amount"><%= link_to 'Edit', edit_expense_path(expense) %></span>
          <span class="category-amount "><%= button_to 'Delete', expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' },  class: 'btn' %></span>

        </li>
      <% end %>
    </ul>
  </div>

  <%= link_to 'New Expense', new_expense_path  %>
